name: xapptor_communication
description: Module for communication.
# repository: https://github.com/Xapptor/xapptor_communication
publish_to: "none" # Remove this line if you wish to publish to pub.dev
version: 0.0.1

environment:
  sdk: '>=3.1.0 <5.0.0'

dependencies:
  flutter:
    sdk: flutter

  firebase_core: ^3.13.0
  firebase_auth: ^5.5.3
  cloud_firestore: ^5.6.7

  flutter_webrtc: ^0.14.1
  barcode_widget: ^2.0.4
  universal_platform: ^1.1.0
  permission_handler: ^12.0.0+1
  http: ^1.4.0
  font_awesome_flutter: ^10.8.0
  flutter_expandable_fab: ^2.5.1
  web: ^1.1.1

  # xapptor_logic: ^0.0.3
  # xapptor_router: ^0.0.2
  # xapptor_ui: ^0.0.3

  xapptor_db:
    path: ../xapptor_db
  xapptor_logic:
    path: ../xapptor_logic
  xapptor_router:
    path: ../xapptor_router
  xapptor_ui:
    path: ../xapptor_ui

dependency_overrides:
  web: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
